<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form th:action="@{/user/save}" th:object="${user}" method="post">
    <label>Name:</label>
    <input id="username" name="username" th:field="${user.username}" />
    <br />
    <label>Role:</label>
    <input id="role" name="role" th:field="${user.role.name}" />
    <br />
    <button type="submit">Save</button>
  </form>
  <a th:href="@{/user}">Cancel</a>
</body>

</html>