<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form th:action="@{/web/user/save}" th:object="${user}" method="post">

    <input id="id" name="id" type="hidden" th:field="${user.id}" />

    <label>Username:</label>
    <input id="username" name="username" th:field="${user.username}" />
    <br />

    <label>Password:</label>
    <input id="password" name="password" th:field="${user.password}" />
    <br />

    <label>Employee</label>
    <select th:field="${user.employee.id}">
      <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.fullName}"
        th:selected="${employee.id == user.employee.id}">
      </option>
    </select>
    <br />

    <label>Role</label>
    <select th:field="${user.role.id}">
      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">
      </option>
    </select>
    <br />

    <label>Department</label>
    <select th:field="${user.department.id}">
      <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}">
      </option>
    </select>
    <br />


    <label>Manager</label>
    <select th:field="${user.manager.id}">
      <option value="">No Manager</option>
      <option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.employee.fullName}">
      </option>
    </select>
    <br />

    <button type="submit">Save</button>
  </form>
  <a th:href="@{/web/user}">Cancel</a>
</body>

</html>