<!DOCTYPE html>
<html lang="en">

<head th:insert="layout/index.html :: link-head"></head>

<body>

    <div th:replace="layout/index :: preloader"></div>
    <div th:replace="layout/index :: navigation"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <h1>List Status</h1>
            <form method="get" th:action="@{/web/status/form}">
                <button type="submit">Create</button>
            </form>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="status : ${listStatus}">
                    <td th:text="${status.id}"></td>
                    <td th:text="${status.name}"></td>
                    <td th:text="${status.level}"></td>
                    <td>
                        <form method="get" th:action="@{/web/status/form/{id} (id=${status.id})}">
                            <button type="submit">Edit</button>
                        </form>
                        <form method="post" th:action="@{/web/status/delete/{id} (id=${status.id})}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:replace="layout/index :: footer"></div>
    <div th:replace="layout/index :: script-js"></div>

</body>


</html>