<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form th:action="@{/web/role/save}" th:object="${role}" method="post">

    <input id="id" name="id" type="hidden" th:field="${role.id}" />

    <label>Name:</label>
    <input id="name" name="name" th:field="${role.name}" />
    <br />
    <label>Level:</label>
    <input id="level" name="level" th:field="${role.level}" />
    <br />
    <button type="submit">Save</button>
  </form>
  <a th:href="@{/web/role}">Cancel</a>
</body>

</html>